[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atproto = "*"
httpx = "*"
orjson = "*"
numpy = "*"
opentelemetry-sdk = "*"
opentelemetry-exporter-prometheus = "*"
fastapi = {extras = ["standard"], version = "*"}
pytest = "*"

[dev-packages]

[requires]
python_version = "3.12"
